/* user-mgmt CSS */

.list-user-main {
  display:flex;
  flex-direction: row;
  width: 50%;
  font-family:"Frutiger";
  margin-top: 5px;
  align-items: center;
  text-align: center;
  background-color: #DAF7A6;
  justify-content: space-around;
}

.input-tag {
  margin-top: 20px
}

input {
    text-align: center;
}
